
.body{
    border: double black;
}
.food-card{
    /* background-color: aqua; */
    width: 290px;
    height: 380px; ;
    border-radius:6px;
    border: 6px double black;
   margin: 100;
}

.btn:hover{
    margin:top 20px;
    border:1px solid
     black;
     background-color: black;
     color:white;
     cursor: pointer;
     border-radius:8px;

}
.text-container{
    padding: left 100px;
    /* background-color: aqua; */
   
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:100px 100px 100px 100px;
}
